@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #f1f3f6;
}

:root {
    --headeryellow: #FFCA08;
    --headermenu: #221F21;
    --black: #000000;
    --maincolor: #fe5f0a;
}

.headerbar{
    width: 100%;
    height: 9.5vh;
    background: #fe5f0a;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 2px 35px black;
    top: 0;
    position: fixed;

}

.logospace{
    width: 10%;
    background: 8vh;
    margin: 0 0 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logospace img{
    width: 50%;
    height: auto;
}

.logospace a{
    font-size: 28px;
    text-decoration: none;
    color: #eaecf0;
    text-shadow: 2px 2px 10px black;
    font-family: 'Ultra', serif;
    font-weight: 100;
}

.menul{
    width: 45%;
    margin: 0 0 0 0;
}

.menul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    list-style: none;
}

.menul ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    font-size: 1vw;
    font-weight: 550;
}

.menul ul a:hover{
    color: var(--headeryellow)
}

.marker{
    width: 60%;
    height: 0.3vh;
    background: #e2bb04;
    margin: 0 auto;
}

.menul .selected{
    color: var(--headeryellow);
}

.list{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8% 0 0 10%;
}

.listTitle{
}

.listTitle h1{
    font-size: 22px;
    font-weight: 700;
}

.productCagetories{
    width: 100%;
    height: 255vh;
    margin: 4% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productCategory{
}

.categoryTitle{
    width: 100%;
    height:6vh;
    font-size: 17px;
    padding-left: 10px;
    font-weight: 700;
    background:var(--maincolor);
    display: flex;
    align-items: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: rgb(255, 255, 255);
}

.indicatorName{
    width: 100%;
    height: 4vh;
    border-top: 1px solid var(--maincolor);
    border-left: 1px solid var(--maincolor);
    border-right: 1px solid var(--maincolor);
    padding: 4px 0 4px 13px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: -1px 2px 11px rgb(97, 97, 97);
}

.bottom{
    border-bottom: 1px solid var(--maincolor);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.indicatorName a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
    transition:all 0.1s ease;
}

.indicatorName a:hover{
    color: #fe5f0a;
}

.footer{
    width: 100%;
    height: 10vh;
    background:var(--maincolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 0;
}

.footercontent{
    width: 70%;
    height: 5vh;
    margin: 0.4% 0 0 0;
}

.footermenu{
    width: 30%;
}

.footermenu ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1vw;
}

.footermenu ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

.footermenu ul li a:hover{
    text-decoration: none;
    color: var(--headeryellow);
}


@media screen and (max-width: 1600px){

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 30%;
        height: auto;
    }
    
    .menul{
        width: 55%;
        margin: 0 0 0 -2%;
    }
    
    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.1vw;
        font-weight: 700;
    }
    
    .marker{
        width: 60%;
        height: 0.4vh;
        background: #e2bb04;
        margin: 0 auto;
    }

    .list{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10% 0 0 13%;
    }
    
    .listTitle{
        width: 100%;
        height: 1vh;
    }
    
    .listTitle h1{
        font-size: 22px;
        font-weight: 700;
    }
    
    .productCagetories{
        width: 100%;
        height: 300vh;
        margin: 4% 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .categoryTitle{
        width: 100%;
        height: 6vh;
        font-size: 17px;
        padding-left: 10px;
        font-weight: 700;
        background:var(--maincolor);
        display: flex;
        align-items: center;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        color: rgb(255, 255, 255);
    }
    
    .indicatorName{
        width: 100%;
        height: 5vh;
        border-top: 1px solid var(--maincolor);
        border-left: 1px solid var(--maincolor);
        border-right: 1px solid var(--maincolor);
        padding: 4px 0 4px 13px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        box-shadow: -1px 2px 11px rgb(97, 97, 97);
    }
    
    .indicatorName a{
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: var(--black);
        transition:all 0.1s ease;
    }

}

@media screen and (max-width: 1440px){

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 40%;
        height: auto;
    }
    
    .menul{
        width: 55%;
        margin: 0 0 0 0;
    }

    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.2vw;
        font-weight: 700;
    }

    .marker{
        width: 65%;
        height: 0.3vh;
        background: #e2bb04;
        margin: 0 auto;
    }

    .list{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 0 0 13%;
    }

    .productCagetories{
        width: 100%;
        height: 225vh;
        margin: 4% 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .indicatorName{
        width: 100%;
        height: 4.7vh;
        border-top: 1px solid var(--maincolor);
        border-left: 1px solid var(--maincolor);
        border-right: 1px solid var(--maincolor);
        padding: 4px 0 4px 13px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        box-shadow: -1px 2px 11px rgb(97, 97, 97);
    }

    .indicatorName a{
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        color: var(--black);
        transition:all 0.1s ease;
    }

}

@media screen and (max-width: 1280px){

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 45%;
        height: auto;
    }
    
    .menul{
        width: 60%;
        margin: 0 0 0 1%;
    }

    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.4vw;
        font-weight: 700;
    }

    .marker{
        width: 70%;
        height: 0.3vh;
        background: #e2bb04;
        margin: 0 auto;
    }

    .list{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15% 0 0 12%;
    }

    .productCagetories{
        width: 90%;
        height: 285vh;
        margin: 8% 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .indicatorName a{
        font-size: 17px;
        font-weight: 400;
        text-decoration: none;
        color: var(--black);
        transition:all 0.1s ease;
    }

}

@media screen and (max-width: 1024px){

    .logospace a{
        font-size: 2.1vw;
    }

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 55%;
        height: auto;
    }
    
    .menul{
        width: 65%;
        margin: 0 0 0 1%;
    }

    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.6vw;
        font-weight: 700;
    }

    .marker{
        width: 65%;
        height: 0.3vh;
        background: #e2bb04;
        margin: 0 auto;
    }

}

@media screen and (max-width: 745px){

    .headerbar{
        position: absolute;
        top: 0;
    }

    .content{
        margin: 15% 0 0 0 ;
    }

    .logospace{
        width: 15%;
        margin: 0 0 0 6%;
    }
    
    .logospace a{
        font-size: 2.5vw;
    }

    .logospace img{
        width: 70%;
        height: auto;
    }

    .menul{
        width: 65%;
        margin: 0 0 0 13%;
        display: none;
    }

    .menul ul li{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.9vw;
        font-weight: 700;
    }

    .list{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 5% 0 0 8%;
    }

    .sidepanelbtn{
        margin:0 0 0 70%;
        transition: all 0.5s ease;
    }
    
    .sidepanelbtn .main{
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .sidepanelbtn .main:hover{
        color: var(--headeryellow);
    }
    
    .sidePanel{
        width: 30%;
        height: 100vh;
        background: #ec5402;
        z-index: 1000;
        transform: translate(340%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidepushed{
        width: 30%;
        height: 100vh;
        background: #ec5402;
        z-index: 1000;
        transform: translate(235%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 50%;
    }
    
    .sidePanel ul{
        height: 20vh;
        list-style:none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30% 0 0 5%;
    }
    
    .sidePanel ul li a{
        color: white;
        text-decoration: none;
        margin: 0 0 0 4%;
        font-size: 2.1vw;
        transition: all 0.2s ease;
        font-weight: 500;
    }
    
    .sidePanel ul li a:hover{
        color: var(--headeryellow);
    }
    
    nav{
        width: 100%;
        margin: -20% 0 0 0;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


@media screen and (max-width: 376px){

    .headerbar{
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .logospace{
        margin: 0 0 0 13.5%;
    }
    
    .logospace a{
        font-size: 6vw;
    }

    .logospace img{
        width: 120%;
        height: auto;
    }

    .menul{
        display: none;
    }

    .list{
        margin: 35% 0 0 7.5%;
    }

    .listTitle{
        margin: 0 0 0 6%;
    }

    .productCagetories{
        width: 130%;
        height: 280vh;
        margin: 25% 0 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .categoryTitle{
        width: 100%;
        height: 4.5vh;
        font-size: 17px;
        padding-left: 10px;
        font-weight: 700;
        background:var(--maincolor);
        display: flex;
        align-items: center;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        color: rgb(255, 255, 255);
    }

    .indicatorName{
        width: 100%;
        height: 5vh;
    }

    .indicatorName a{
        font-size: 3.89vw;
        font-weight: 400;
        text-decoration: none;
        color: var(--black);
        transition:all 0.1s ease;
    }

    .sidepanelbtn{
        margin:0 0 0 61.5%;
        transition: all 0.6s ease;
    }
    
    .sidepanelbtn .main{
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .sidepanelbtn .main:hover{
        color: var(--headeryellow);
    }
    
    .sidePanel{
        width: 40%;
        height: 100vh;
        background: #ec5402;
        z-index: 1000;
        transform: translate(340%, 0%);
        transition: 0.8s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidepushed{
        height: 100vh;
        background: #ec5402;
        z-index: 1000;
        transform: translate(150%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 32%;
    }
    
    .sidePanel ul{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30% 0 0 5%;
    }
    
    .sidePanel ul li a{
        margin: 0 0 0 0%;
        font-size: 3.7vw;
        transition: all 0.2s ease;
        font-weight: 500;
    }
    
    .sidePanel ul li a:hover{
        color: var(--headeryellow);
    }
    
    nav{
        width: 100%;
        margin: 40% 0 0 0;
    }
}

@media screen and (min-width: 745px){
    .sidePanel{
        display: none;
    }
    
    .sidepanelbtn{
        display: none;
    }
}
