@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");



*{
    transition:all 0.3s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}   

/* width */
::-webkit-scrollbar {
    background: var(--tableback);
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--tableback);
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--maincolor); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarhover); 
  }


html{ 
    scroll-behavior: smooth;
}

:root {
    --scrollbarhover: #ff7930;
    --maincolor: #fe5f0a;
    --headeryellow: #FFCA08;
    --headermenu: #221F21;
    --black: #000000;
    --white: #fff;
    --contentbackgroundcolor: #f1f3f6;
    --areatitle: black;
    --textcolor: #fff;
    --tablelines: #dddddd;
    --tableback: #fff;
    --tabletext: black;
    --itemselected: #fe5f0a;
    --categulli: black;
    
}

.dark-mode{
    --scrollbarhover:#FFCA08;
    --maincolor: #585858;
    --headeryellow: #FFCA08;
    --textcolor: #D6D6D7;
    --contentbackgroundcolor: #35363A;
    --aretitle: #dddddd;
    --tablelines: #646464;
    --tableback: #3b3b3b;
    --tabletext: #dddddd;
    --itemselected: #FFCA08;
    --categulli: white;
}

.darkicon{
    cursor: pointer;
}

.fa-sun{
    color: white;
}

.fa-sun:hover{
    color: var(--headeryellow);
}

.fa-moon{
    color: white;
}

.fa-moon:hover{
    color: black;
}

.headerbar{
    width: 100%;
    height: 9.5vh;
    background: var(--maincolor);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 2px 35px black;
    position: fixed;
}

.logospace{
    width: 10%;
    background: 8vh;
    margin: 0 0 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logospace img{
    width: 50%;
    height: auto;
    cursor: pointer;
}

.logospace a{
    font-size: 28px;
    text-decoration: none;
    color: #eaecf0;
    text-shadow: 2px 2px 10px black;
    font-family: 'Ultra', serif;
    font-weight: 100;
}

.menul{
    width: 45%;
    margin: 0 0 0 0;
}

.menul ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    list-style: none;
}

.menul ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    font-size: 1vw;
    font-weight: 550;
}

.menul ul a:hover{
    color: var(--headeryellow)
}

.marker{
    width: 35%;
    height: 0.3vh;
    background: #e2bb04;
    margin: 0 auto;
}

.menul .selected{
    color: var(--headeryellow);
}

.content{
    width: 100%;
    height: 90vh;
    background: var(--contentbackgroundcolor);
    top: 0;
}

.contentarea{
    width: 70%;
    height: 80vh;
    margin: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    /* background: red; */
}

.areatitle{
    width: 70%;
    height: 6vh;
    margin: 9% 0 0 0;
    color: var(--aretitle);
}

.areatitle h1{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.02cm;
}

.listings{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categorycontainer{
    width:25%;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    background: var(--tableback);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 21px;
    padding: 10px 0;
    color: var(--tabletext);
}

.categoryitem .itemselected{
    color: var(--itemselected);
}

.category{
    padding: 4px;
}

.categorytitle{
    font-weight: 600;
    cursor: pointer;
}

.categorycontainer ul li{
    list-style: none;
    margin: 0 0 0 5%;
    transition:all 0.0s ease;
    color: white;
}
    
.categorycontainer ul li a{
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}
    
.categorycontainer ul li a:hover{
    color: var(--itemselected);
    text-decoration: none;
}
    
.categorycontainer ul li a{
    margin: 0 0 0 4%;
    color: rgb(51, 51, 51);
    color: var(--tabletext);
}

.categoryinfo{
    width: 72%;
    height: 70vh;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 21px;
    border-radius: 15px;
}

.tabletitles{
    width: 100%;
    height: 6vh;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:var(--maincolor);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 40px;
    align-items: center;
    padding-left: 8px;
    color: var(--textcolor);
}

.countries{
    width: 30%;
}

.prodname{
    width: 50%;
}

.ranking{
    width: 20%;
}

.benchmarkbox{
    width: 100%;
    height: 64vh;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
    background: var(--tableback);
}

table{
    width: 100%;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    background: var(--tableback);
} 

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td, th {
    border: 1px solid var(--tablelines);
    text-align: left;
    padding: 8px;
    color: var(--tabletext);
}

.fa-caret-down, .fa-caret-right{
    cursor: pointer;
    padding: 0 3px;
}

.footer{
    width: 100%;
    height: 10vh;
    background:var(--maincolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    box-shadow: 5px 5px 20px black;
    position: relative;
}

.footercontent{
    width: 70%;
    height: 5vh;
    margin: 0.4% 0 0 0;
}

.footermenu{
    width: 30%;
}

.footermenu ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1vw;
}

.footermenu ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

.footermenu ul li a:hover{
    text-decoration: none;
    color: var(--headeryellow);
}

.copyright{
    color: white;
}

@media screen and (max-width: 1600px){

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 30%;
        height: auto;
    }
    
    .menul{
        width: 55%;
        margin: 0 0 0 -2%;
    }
    
    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.1vw;
        font-weight: 700;
    }
    
    .marker{
        width: 35%;
        height: 0.4vh;
        background: #e2bb04;
        margin: 0 auto;
    }
    
    td, th {
        text-align: left;
        padding: 7.4px;
    }

    .content{
        width: 100%;
        height: 92vh;
        top: 0;
    }

    .areatitle{
        width: 70%;
        height: 7vh;
        margin: 10% 0 0 0;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
    }
    
    .footercontent{
        width: 70%;
        height: 5vh;
        margin: 0.4% 0 0 0;
    }
    
    .footermenu{
        width: 30%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 17px;
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }
    
    .copyright{
        color: white;
    }

}

@media screen and (max-width: 1440px){

    .areatitle{
        width: 70%;
        height: 7vh;
        margin: 12% 0 0 0;
    }

    .contentarea{
        margin: 0 0 0 7%;
    }

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 40%;
        height: auto;
    }
    
    .menul{
        width: 55%;
        margin: 0 0 0 0;
    }

    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.2vw;
        font-weight: 700;
    }

    .marker{
        width: 40%;
        height: 0.4vh;
        background: #e2bb04;
        margin: 0 auto;
    }

    .categorycontainer{
        width: 28%;
        height: 70vh;
        overflow: scroll;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 21px;
        padding: 10px 0;
        overflow-x: hidden;
    }

    .listings{
        gap: 2%;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
    }
    
    .footercontent{
        width: 70%;
        height: 5vh;
        margin: 0.4% 0 0 0;
    }
    
    .footermenu{
        width: 30%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 17px;
        font-weight: 500;
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }
    
    .copyright{
        color: white;
    }

}

@media screen and (max-width: 1280px){

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 45%;
        height: auto;
    }
    
    .menul{
        width: 60%;
        margin: 0 0 0 1%;
    }

    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.4vw;
        font-weight: 700;
    }

    .marker{
        width: 40%;
        height: 0.3vh;
        background: #e2bb04;
        margin: 0 auto;
    }

    .areatitle{
        width: 70%;
        height: 7vh;
        margin: 12% 0 0 0;
    }

    .contentarea{
        width: 80%;
        margin: 0 0 0 5%;
    }

    .categorycontainer{
        width: 30%;
        height: 70vh;
        overflow: scroll;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 21px;
        padding: 10px 0;
        overflow-x:hidden;
    }

    .listings{
        gap: 2%;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
    }
    
    .footercontent{
        width: 70%;
        height: 5vh;
        margin: 0.4% 0 0 0;
    }
    
    .footermenu{
        width: 35%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 17px;
        font-weight: 500;
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }
    
    .copyright{
        color: white;
    }

}

@media screen and (max-width: 1024px){

    .headerbar{
        position: absolute;
        top: 0;
        position: fixed;
        z-index: 9999;
    }

    .logospace a{
        font-size: 2.1vw;
    }

    .logospace{
        width: 15%;
        background: 8vh;
        margin: 0 0 0 2%;
    }

    .logospace img{
        width: 60%;
        height: auto;
    }
    
    .menul{
        width: 75%;
        margin: 0 0 0 2%;
    }

    .menul ul a{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.7vw;
        font-weight: 700;
    }

    .marker{
        width: 40%;
        height: 0.4vh;
        background: #e2bb04;
        margin: 0 auto;
    }

    .content{
        width: 100%;
        height: 100vh;
        top: 0;
    }

    .areatitle{
        width: 70%;
        height: 7vh;
        margin: 22% 0 0 0;
    }

    .contentarea{
        width: 95%;
        margin: 0 0 0 2.5%;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
    }
    
    .footercontent{
        width: 80%;
        height: 5vh;
        margin: 0.4% 0 0 0;
    }
    
    .footermenu{
        width: 38%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 17px;
        font-weight: 500;
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }
    
    .copyright{
        color: white;
    }

}

@media screen and (max-width: 768px){

    .headerbar{
        position: fixed;
        top: 0;
    }

    .darkicon{
        margin-left: 130%;
    }

    .categorybox{
        height: 20vh;
    }

    .categorytext{
        height: 20vh;
        font-size: 3vw;
    }

    .content{
        margin: 10% 0 0 0 ;
    }

    .logospace{
        width: 18%;
        margin: 0 0 0 6%;
    }
    
    .logospace a{
        font-size: 3.5vw;
    }

    .logospace img{
        width: 70%;
        height: auto;
    }

    .selected{
        color: var(--headeryellow)
    }

    .menul{
        width: 65%;
        margin: 0 0 0 13%;
        display: none;
    }

    .menul ul li{
        text-decoration: none;
        color: #fff;
        transition: all 0.2s ease;
        font-size: 1.9vw;
        font-weight: 700;
    }

    .contentarea{
        width: 95%;
        margin: 0 0 0 2.5%;
    }

    .areatitle{
        width: 100%;
        height: 7vh;
        margin: 18% 0 0 0;
    }

    .areatitle h1{
        font-size: 2.8vw;
        font-weight: 700;
        letter-spacing: 0.02cm;
    }

    .categorycontainer ul li a{
        font-size: 15px;
        margin: 0 0 0 4%;
    }

    .sidepanelbtn{
        margin:0 0 0 65%;
        transition: all 0.5s ease;
    }
    
    .sidepanelbtn .main{
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .sidepanelbtn .main:hover{
        color: var(--headeryellow);
    }
    
    .sidePanel{
        width: 30%;
        height: 100vh;
        background: (--maincolor);
        transform: translate(340%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
        z-index: 1;
    }

    .sidepushed{
        width: 30%;
        height: 100vh;
        background: var(--maincolor);
        z-index: 1;
        transform: translate(235%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 50%;
    }
    
    .sidePanel ul{
        height: 20vh;
        list-style:none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30% 0 0 5%;
    }
    
    .sidePanel ul li a{
        color: white;
        text-decoration: none;
        margin: 0 0 0 4%;
        font-size: 2.1vw;
        transition: all 0.2s ease;
        font-weight: 500;
    }
    
    .sidePanel ul li a:hover{
        color: var(--headeryellow);
    }
    
    nav{
        width: 100%;
        margin: 38% 0 0 0;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
        position: relative;
        z-index: 999;
    }
    
    .footercontent{
        width: 80%;
        height: 5vh;
        margin: 1% 0 0 0;
    }
    
    .footermenu{
        width: 49%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        font-size: 17px;
        font-weight: 500;
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }
    
    .copyright{
        color: white;
    }

}

@media screen and (max-width: 640px){

    .headerbar{
        top: 0;
        z-index: 9999;
    }

    .categorybox{
        height: 20vh;
    }

    .categorytext{
        height: 20vh;
        font-size: 3vw;
    }

    .content{
        margin: 10% 0 0 0 ;
    }

    .logospace{
        width: 18%;
        margin: 0 0 0 6%;
    }
    
    .logospace a{
        font-size: 3.5vw;
    }

    .logospace img{
        width: 70%;
        height: auto;
    }

    .menul{
        width: 65%;
        margin: 0 0 0 13%;
        display: none;
    }

    .contentarea{
        width: 95%;
        margin: 0 0 0 2.5%;
    }

    .areatitle{
        width: 100%;
        height: 7vh;
        margin: 18% 0 0 0;
    }

    .areatitle h1{
        font-size: 3.2vw;
        font-weight: 700;
        letter-spacing: 0.02cm;
    }

    .categorycontainer ul li a{
        font-size: 15px;
        margin: 0 0 0 4%;
    }

    .categorytitle{
        font-weight: 600;
        font-size: 2.1vw;
    }

    .sidepanelbtn{
        margin:0 0 0 60%;
        transition: all 0.5s ease;
    }
    
    .sidepanelbtn .main{
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .sidepanelbtn .main:hover{
        color: var(--headeryellow);
    }
    
    .sidePanel{
        width: 30%;
        height: 100vh;
        z-index: 1000;
        transform: translate(340%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidepushed{
        width: 30%;
        height: 100vh;
        z-index: 1000;
        transform: translate(235%, 0%);
        transition: 0.5s;
        margin: -2.6% 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 48%;
    }
    
    .sidePanel ul{
        height: 20vh;
        list-style:none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30% 0 0 5%;
    }
    
    .sidePanel ul li a{
        color: white;
        text-decoration: none;
        margin: 0 0 0 4%;
        font-size: 2.1vw;
        transition: all 0.2s ease;
        font-weight: 500;
    }
    
    .sidePanel ul li a:hover{
        color: var(--headeryellow);
    }
    
    nav{
        width: 100%;
        margin: 40% 0 0 0;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 5px 20px black;
        position: relative;
        z-index: 9999;
        bottom: 0;
        justify-content: space-between;
    }
    
    .footercontent{
        width: 90%;
        height: 5vh;
        margin: 0.4% 0 0 0;
    }
    
    .footermenu{
        width: 55%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 17px;
        font-weight: 500;
    }
}

@media screen and (max-width: 414px){

    .headerbar{
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .darkicon{
        margin-left: 160%;
    }

    .logospace{
        width: 18%;
        margin: 0 0 0 10%;
    }
    
    .logospace a{
        font-size: 5vw;
    }

    .logospace img{
        width: 110%;
        height: auto;
        cursor: pointer;
    }

    .list{
        width: 60%;
        margin: 25% 0 0 7%;
    }

    .menul{
        display: none;
    }

    .content{
        width: 100%;
        height: 155vh;
        top: 0;
    }

    .contentarea{
        width: 95%;
        height: 80vh;
        margin: 0 0 0 5%;
        display: flex;
        flex-direction: column;
        gap: 3%;
        /* background: red; */
    }
    
    .areatitle{
        width: 100%;
        height: 6vh;
        margin: 35% 0 0 0;
    }
    
    .areatitle h1{
        font-size: 4.5vw;
        font-weight: 700;
        letter-spacing: 0.02cm;
    }
    
    .listings{
        width: 100%;
        height: 141vh;
        display: flex;
        flex-direction: column;
        /* gap: 2%; */
        justify-content: space-between;
    }
    
    .categorycontainer{
        width:93%;
        height: 55vh;
        overflow: scroll;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 21px;
        padding: 10px 0;
        overflow-x: hidden;
    }
    
    .category{
        padding: 4px;
    }
    
    .categorytitle{
        font-weight: 600;
    }
    
    .categorycontainer ul li{
        list-style: none;
        margin: 0 0 0 5%;
        font-size: 5vw;
        color: var(--categulli);
    }
        
    .categorycontainer ul li a{
        text-decoration: none;
        transition: all 0.2s ease;
        font-weight: 500;
        text-decoration: none;
        font-size: 19px;
    }
        
    .categorycontainer ul li a:hover{
        text-decoration: none;
    }
        
    .categorycontainer ul li a{
        margin: 0 0 0 4%;
    }
    
    .categoryinfo{
        width: 93%;
        height: 70vh;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 21px;
        border-radius: 15px;
    }
    
    .tabletitles{
        width: 100%;
        height: 6vh;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 40px;
        align-items: center;
        padding-left: 8px;
    }
    
    .countries{
        width: 30%;
        font-size: 4vw;
    }
    
    .prodname{
        width: 40%;
        font-size: 4vw;
    }
    
    .ranking{
        width: 20%;
        font-size: 4vw;
    }
    
    .benchmarkbox{
        width: 100%;
        height: 64vh;
        border: none;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    table{
        width: 100%;
        border-collapse: collapse;
        text-indent: initial;
        border-spacing: 2px;
    } 
    
    tr{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    
    td, th {
        text-align: left;
        padding: 8px;
    }

    td{
        font-size: 16px;
    }

    td:first-child{
        width: 25%;
    }
    
    td:nth-child(2){
        width: 45%;
    }
    
    td:nth-child(3){
        width: 17%;
    }

    .sidepanelbtn{
        margin:0 0 0 55%;
        transition: all 0.5s ease;
    }
    
    .sidepanelbtn .main{
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .sidepanelbtn .main:hover{
        color: var(--headeryellow);
    }
    
    .sidePanel{
        width: 45%;
        height: 100vh;
        z-index: 1000;
        transform: translate(235%, 0%);
        transition: 0.5s;
        margin: 0 0 0 0;
        position: fixed;
    }

    .sidepushed{
        width: 45%;
        height: 100vh;
        z-index: 1000;
        transform: translate(125%, 0%);
        transition: 0.5s;
        margin: 0 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 55%;
    }
    
    .sidePanel ul{
        height: 20vh;
        list-style:none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 0 3%;
    }
    
    .sidePanel ul li a{
        color: white;
        text-decoration: none;
        margin: 0 0 0 3%;
        font-size: 3.9vw;
        transition: all 0.2s ease;
        font-weight: 500;
    }
    
    .sidePanel ul li a:hover{
        color: var(--headeryellow);
    }
    
    nav{
        width: 100%;
        margin: 70% 0 0 0;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
        position: relative;
    }
    
    .footercontent{
        width: 80%;
        height: 5vh;
        margin: 0 0 0 0;
    }
    
    .footermenu{
        width: 95%;
        margin: 0 0 0 4%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 16px;
        margin-top: 3%
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }

    .copyright{
        color: white;
        font-size: 13px;
    }
}

@media screen and (max-width: 376px){

    .headerbar{
        position: fixed;
        top: 0;
        z-index: 9999;
    }

    .darkicon{
        margin-left: 180%;
    }

    .logospace{
        margin: 0 0 0 13.5%;
    }
    
    .logospace a{
        font-size: 6vw;
    }

    .logospace img{
        width: 120%;
        height: auto;
    }

    .menul{
        display: none;
    }

    .content{
        width: 100%;
        height: 155vh;
        top: 0;
    }

    .contentarea{
        width: 95%;
        height: 80vh;
        margin: 0 0 0 5%;
        display: flex;
        flex-direction: column;
        gap: 3%;
    }
    
    .areatitle{
        width: 100%;
        height: 6vh;
        margin: 24% 0 0 0;
    }
    
    .areatitle h1{
        font-size: 5vw;
        font-weight: 700;
        letter-spacing: 0.02cm;
    }
    
    .listings{
        width: 100%;
        height: 128vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .categorycontainer{
        width:93%;
        height: 55vh;
        overflow: scroll;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 21px;
        padding: 10px 0;
        overflow-x: hidden;
    }

    .category{
        padding: 4px;
    }
    
    .categorytitle{
        font-weight: 600;
    }
    
    .categorycontainer ul li{
        list-style: none;
        margin: 0 0 0 5%;
        font-size: 5vw;
        padding-top: 1px;
        color: var(--categulli);
    }
        
    .categorycontainer ul li a{
        text-decoration: none;
        transition: all 0.2s ease;
        font-weight: 500;
        text-decoration: none;
        font-size: 18px;
    }
        
    .categorycontainer ul li a:hover{
        text-decoration: none;
    }
        
    .categorycontainer ul li a{
        margin: 0 0 0 4%;
    }
    
    .categoryinfo{
        width: 93%;
        height: 70vh;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 21px;
        border-radius: 15px;
    }
    
    .tabletitles{
        width: 100%;
        height: 6vh;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 40px;
        align-items: center;
        padding-left: 8px;
        color: rgb(241, 241, 241);
    }
    
    .countries{
        width: 30%;
        font-size: 4.2vw;
    }
    
    .prodname{
        width: 45%;
        font-size: 4.2vw;
    }
    
    .ranking{
        width: 20%;
        font-size: 4.2vw;
    }
    
    .benchmarkbox{
        width: 100%;
        height: 64vh;
        border: none;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    table{
        width: 100%;
        border-collapse: collapse;
        text-indent: initial;
        border-spacing: 2px;
    } 
    
    tr{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    
    td, th {
        text-align: left;
        padding: 8px;
    }

    td{
        font-size: 15px;
    }

    .sidepanelbtn{
        margin:0 0 0 48%;
        transition: all 0.6s ease;
    }

    .sidepanelbtn .main{
        color: white;
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .sidepanelbtn .main:hover{
        color: var(--headeryellow);
    }
    
    .sidePanel{
        width: 45%;
        height: 100vh;
        z-index: 1000;
        transform: translate(340%, 0%);
        transition: 0.8s;
        margin: 0 0 0 0;
        bottom: 0;
    }

    .sidepushed{
        height: 100vh;
        z-index: 1000;
        transform: translate(125%, 0%);
        transition: 0.5s;
        margin: 0 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 48%;
    }
    
    .sidePanel ul{
        height: 19vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30% 0 0 3%;
    }
    
    .sidePanel ul li a{
        margin: 0 0 0 0%;
        font-size: 4.1vw;
        transition: all 0.2s ease;
        font-weight: 500;
    }
    
    .sidePanel ul li a:hover{
        color: var(--headeryellow);
    }
    
    nav{
        width: 100%;
        margin: 80% 0 0 0;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
        position: relative;
    }
    
    .footercontent{
        width: 80%;
        height: 5vh;
        margin: 0 0 0 0;
    }
    
    .footermenu{
        width: 95%;
        margin: 0 0 0 4%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 16px;
        margin-top: 3%
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }

    .copyright{
        color: white;
        font-size: 13px;
    }
}

@media screen and (max-width: 320px){

    .categorycontainer ul li{
        list-style: none;
        margin: 0 0 0 5%;
        font-size: 6vw;
        padding-top: 1px;
        color: var(--categulli);
    }
    
    .sidepanelbtn{
        margin:0 0 0 45%;
        transition: all 0.6s ease;
    }

    .sidePanel{
        width: 50%;
        height: 100vh;
        z-index: 1000;
        transform: translate(340%, 0%);
        transition: 0.8s;
        margin: 0 0 0 0;
        bottom: 0;
    }

    .sidepushed{
        height: 100vh;
        z-index: 1000;
        transform: translate(105%, 0%);
        transition: 0.5s;
        margin: 0 0 0 0;
        position: fixed;
    }

    .sidebtnpushed{
        margin:0 0 0 45%;
    }

    .sidePanel ul{
        height: 21vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 27% 0 0 3%;
    }

    .sidePanel ul li a{
        font-size: 4.5vw;
    }

    .content{
        height: 155vh;
    }

    .areatitle{
        width: 100%;
        height: 6vh;
        margin: 40% 0 0 0;
    }

    .categorycontainer{
        width:93%;
        height: 52vh;
        overflow: scroll;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 21px;
        padding: 10px 0;
        overflow-x: hidden;
    }
    
    .countries{
        width: 28%;
        font-size: 15px;
    }
    
    .prodname{
        width: 41%;
        font-size: 14px;
    }
    
    .ranking{
        width: 20%;
        font-size: 15px;
    }
    
    td{
        font-size: 15px;
    }

    .footer{
        width: 100%;
        height: 10vh;
        background:var(--maincolor);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        bottom: 0;
        box-shadow: 5px 5px 20px black;
        position: relative;
    }
    
    .footercontent{
        width: 90%;
        height: 5vh;
        margin: 0.4% 0 0 0;
    }
    
    .footermenu{
        width: 95%;
        margin: 0 0 0 4%;
    }
    
    .footermenu ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 15.4px;
        margin-top: 4%
    }
    
    .footermenu ul li a{
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    
    .footermenu ul li a:hover{
        text-decoration: none;
        color: var(--headeryellow);
    }

    .copyright{
        color: white;
        font-size: 13px;
    }
}


@media screen and (min-width: 769px){
    .sidePanel{
        display: none;
    }
    
    .sidepanelbtn{
        display: none;
    }
}